<!DOCTYPE html>
<html lang="en">

<head>
    <title>UniTotem Settings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-5.2.0-beta1/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap-icons-1.8.3/bootstrap-icons.css">
    <style>
        .hdr {
            background-color: #7431F9;
            color: white;
        }
    </style>
</head>

<body>
    <header class="page-header hdr container-fluid">
        <div class="container-fluid col-lg-10 p-2 hstack gap-2">
            <a class="navbar-brand" href="/">
                <h1 class="my-auto"><b>U</b></h1>
            </a>
            <div class="ms-auto"></div>
            <!--spacer-->
            <div class="btn-group" role="group">
                <a class="btn btn-outline-light" type="button" href="/">
                    <i class="bi bi-list-task"></i><span class="d-none d-sm-inline"> Scheduler</span>
                </a>
                <a class="btn btn-light" type="button" href="/settings">
                    <i class="bi bi-sliders"></i><span class="d-none d-sm-inline"> Settings</span>
                </a>
            </div>
            <button class="ms-5 ms-sm-4 ms-md-5 btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#rebootConfirmModal">
                <i class="bi bi-bootstrap-reboot"></i><span class="d-none d-sm-inline"> Reboot</span>
            </button>
            <button class="btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#shutdownConfirmModal">
                <i class="bi bi-power"></i><span class="d-none d-sm-inline"> Shutdown</span>
            </button>
        </div>
    </header>

    <div class="modal" id="rebootConfirmModal" tabindex="-1" aria-labelledby="rebootConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Do you want to reboot UniTotem?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                    <button type="button" id="reboot_btn" class="btn btn-danger" data-bs-dismiss="modal">Reboot</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="shutdownConfirmModal" tabindex="-1" aria-labelledby="shutdownConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Do you want to shutdown UniTotem?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                    <button type="button" id="shutdown_btn" class="btn btn-danger" data-bs-dismiss="modal">Shutdown</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Do you want to delete <span id="file_to_delete"></span>?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                    <button type="button" id="delete_confirm_btn" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newFileModal" tabindex="-1" aria-labelledby="newFileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="newFileModalLabel">New file</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="filename" class="col-form-label"><h5>Filename:</h5></label>
                        <input type="text" class="form-control" id="modal_input_filename">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="add_file_btn" class="btn btn-primary" data-bs-dismiss="modal">Add asset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="netplanErrorModal" tabindex="-1" aria-labelledby="netplanErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="netplanErrorModalLabel">Netplan config error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Netplan returned an error:</h6>
                <code id="netplanErrorText"></code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPowerRuleModal" tabindex="-1" aria-labelledby="addPowerRuleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addPowerRuleModalLabel">New rule</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="hour_selector" class="col-sm-3 col-form-label">Time</label>
                        <div class="col-sm-9">
                            <div class="input-group mb-3">
                                <select class="form-select" id="hour_selector">
                                        <option value="*" selected>*</option>
                                        {% for i in range(0, 24) %}
                                            <option value="{{i}}">{{ '%02d' % i }}</option>
                                        {%endfor%}
                                    </select>
                                <span class="input-group-text">:</span>
                                <select class="form-select" id="minute_selector">
                                        <option value="*" selected>*</option>
                                        {% for i in range(0, 60) %}
                                            <option value="{{i}}">{{ '%02d' % i }}</option>
                                        {%endfor%}
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="weekday_selector" class="col-sm-3 col-form-label">Day of the week</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="weekday_selector">
                                    <option value="*" selected>*</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="0">Sunday</option>
                                </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="month_selector" class="col-sm-3 col-form-label">Month</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="month_selector">
                                    <option value="*" selected>*</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="monthday_selector" class="col-sm-3 col-form-label">Day of the month</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="monthday_selector">
                                    <option value="*" selected>*</option>
                                    {% for i in range(1, 32) %}
                                        <option value="{{i}}">{{ '%02d' % i }}</option>
                                    {%endfor%}
                                </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="action_selector" class="col-sm-3 col-form-label">Action</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="action_selector">
                                    <option value="pwr" selected>Shutdown</option>
                                    <option value="reb">Reboot</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="add_schedule" class="btn btn-primary" data-bs-dismiss="modal">Add schedule</button>
                </div>
            </div>
        </div>
    </div>

    <main class="container-fluid col-lg-10 mt-md-3 mt-1">
        <div class="row">

            <div class="col-sm-6">
                <div class="mb-4 col">
                    <h4>Playback</h4>
                    <div class="mb-3 row">
                        <label for="default_duration" class="my-auto col-sm-5 col-form-label">Default asset duration</label>
                        <div class="my-auto col-sm-7">
                            <div class="input-group">
                                <input type="number" class="form-control" id="default_duration" min="1" value="{{ default_duration }}">
                                <span class="input-group-text">seconds</span>
                            </div>
                        </div>
                        <div class="mt-2 hstack gap-2" hidden>
                            <button type="button" class="btn btn-sm btn-success ms-auto" id="set_def_duration"><i class="bi bi-check2"></i> Apply</button>
                        </div>
                    </div>
                </div>
                <div class="mb-4 col">
                    <h4>Updates</h4>
                    <div class="mb-3 hstack gap-2">
                        <p class="my-auto" id="updateCount">{{'No' if upd==0 else upd }} update{{'' if upd==1 else 's'}} available</p>
                        <button type="button" class="btn btn-sm btn-outline-primary ms-auto" id="apt_update" {{ 'disabled' if is_updating else '' }}>
                            {% if is_updating %}
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Checking...
                            {% else %}
                            <i class="bi bi-arrow-clockwise"></i> Check updates
                            {% endif %}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger" id="apt_upgrade" {{ '' if upd else 'hidden' }} {{ 'disabled' if is_upgrading else '' }}>
                            {% if is_upgrading %}
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Updating...
                            {% else %}
                            <i class="bi bi-arrow-bar-up"></i> Do updates
                            {% endif %}
                        </button>
                    </div>
                </div>
                <div class="mb-4 col">
                    <h4>Change password</h4>
                    <div class="mb-2 row">
                        <label for="loggedUser" class="my-auto col-sm-5 col-form-label">User</label>
                        <div class="my-auto col-sm-7">
                            <input type="text" class="form-control" id="loggedUser" value="{{logged_user}}" disabled>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputNewPassword" class="my-auto col-sm-5 col-form-label">New password</label>
                        <div class="my-auto col-sm-7">
                            <input type="password" class="form-control" id="inputNewPassword">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputNewPassword2" class="my-auto col-sm-5 col-form-label">Repeat new password</label>
                        <div class="my-auto col-sm-7">
                            <input type="password" class="form-control" id="inputNewPassword2">
                        </div>
                    </div>
                    <div class="hstack gap-2" hidden>
                        <button type="button" class="btn btn-sm btn-success ms-auto" id="set_passwd"><i class="bi bi-check2"></i> Change password</button>
                    </div>
                </div>
                <div class="mb-4 col">
                    <h4>Audio output</h4>
                    <h6><small class="text-muted">After changing device, restart the system to apply.</small></h6>
                    <select class="form-select" aria-label="Default select example" id="audio_out">
                        {% for key, device in audio %}
                        <option value="{{key}}" {{ 'selected' if key == def_audio_dev else '' }}>{{device}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="mb-4 col">
                    <h4>Network</h4>
                    <div class="mb-3 row">
                        <label for="inputHostname" class="col-sm-5 col-form-label">Hostname</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputHostname" value="{{hostname}}" ws-edit-needs-reboot>
                        </div>
                        <div class="mt-2 hstack gap-2" hidden>
                            <button type="button" class="btn btn-sm btn-success ms-auto" id="set_hostname"><i class="bi bi-check2"></i> Apply</button>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <h7><a href="https://netplan.io/reference/">Netplan</a> config files:</h7>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for file in netplan_config %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link{{' active' if loop.index == 1 else ''}}" id="tab-{{file}}" data-bs-toggle="tab" data-bs-target="#tab-pane-{{file}}" type="button" role="tab" aria-controls="tab-pane-{{file}}" aria-selected="true">{{file}}</button>
                            </li>
                            {%endfor%}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" title="New file" id="add-file" data-bs-toggle="modal" data-bs-target="#newFileModal" type="button" role="tab"><i class="bi bi-plus-square"></i></button>
                            </li>
                            <li class="ms-auto my-auto">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="wifiDropBtn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="inside"><i class="bi bi-wifi"></i></button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="wifiDropBtn" id="wifi-menu">
                                    <li class="dropdown-item disabled">Scanning...</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for file in netplan_config %}
                            <div class="tab-pane fade{{' show active' if loop.index == 1 else ''}}" id="tab-pane-{{file}}" role="tabpanel" aria-labelledby="tab-{{file}}" tabindex="0">
                                <div id="editor-{{file}}" style="width:100%;height:25em;">{{netplan_config[file]}}</div>
                                <div class="mt-2 hstack gap-2">
                                    <button type="button" class="btn btn-sm btn-danger" id="del_netplan_conf-{{file}}" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"><i class="bi bi-trash"></i> Delete</button>
                                    <button type="button" class="btn btn-sm btn-success ms-auto" id="set_netplan_conf-{{file}}" hidden><i class="bi bi-check2"></i> Apply</button>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-3 col">
                <div class="hstack gap-2">
                    <h4>Power scheduling</h4>
                    <button class="btn btn-sm btn-primary ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#addPowerRuleModal"><i class="bi bi-plus-circle"></i> Add rule</button>
                </div>
                <div class="m-3 mt-1 row border rounded-2">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Hour</th>
                                <th scope="col">Minute</th>
                                <th scope="col">Day of the month</th>
                                <th scope="col">Month</th>
                                <th scope="col">Day of the week</th>
                                <th scope="col">Enabled</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody id="asset_table">
                            {%for job in crontab%}
                            <tr>
                                <td class="my-auto" scope="row">{{job.command}}</td>
                                <td class="my-auto">{{job.hour}}</td>
                                <td class="my-auto">{{job.minute}}</td>
                                <td class="my-auto">{{job.dom}}</td>
                                <td class="my-auto">{{job.month}}</td>
                                <td class="my-auto">{{job.dow}}</td>
                                <td class="my-auto">
                                    <div class="form-check form-switch">
                                        <input title="{{ 'Disable' if job.enabled else 'Enable' }} schedule" onChange="sendCommand({'job': '{{ job.comment }}', 'set_job_state': '{{ 'disabled' if job.enabled else 'enabled' }}'}, true);" class="form-check-input" type="checkbox" role="switch" {{ 'checked' if job.enabled else ''}}>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group my-2" role="group" aria-label="Basic outlined example">
                                        <button type="button" title="Remove schedule" onclick="sendCommand({'remove_schedule': '{{ job.comment }}'}, true);" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer class="fixed-bottom text-center border-top bg-white" style="width:100vw; z-index:1000;">
        <h6 class="my-1" width="100%"><small class="text-muted"><a href="https://github.com/a13ssandr0/unitotem"><i class="bi bi-github"></i> Unitotem</a> {{ ut_vers }} by a13ssandro | Logged in as {{ logged_user }} | Display size {{ disp_size }} | Used {{disk_used}} of {{disk_total}}</small></h6>
    </footer>

    <script src="/static/bootstrap-5.2.0-beta1/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/static/ace-builds/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        {% for file in netplan_config %}
        var editor{{loop.index}} = ace.edit("editor-{{file}}");
        editor{{loop.index}}.setTheme("ace/theme/xcode");
        editor{{loop.index}}.session.setMode("ace/mode/yaml");
        const editor{{loop.index}}_text = editor{{loop.index}}.getValue();
        editor{{loop.index}}.session.on('change', function(delta) {showHide(document.getElementById('set_netplan_conf-{{file}}'), editor{{loop.index}}.getValue() != editor{{loop.index}}_text);});
        {%endfor%}

        function setIPFormState(state) {
            if (state) {
                document.getElementById('inputAddress').setAttribute('disabled', '');
                document.getElementById('inputNetmask').setAttribute('disabled', '');
                document.getElementById('inputGateway').setAttribute('disabled', '');
                document.getElementById('inputDNS').setAttribute('disabled', '');
                document.getElementById('dhcpSwitchLabel').innerText = 'Enabled';
            } else {
                document.getElementById('inputAddress').removeAttribute('disabled');
                document.getElementById('inputNetmask').removeAttribute('disabled');
                document.getElementById('inputGateway').removeAttribute('disabled');
                document.getElementById('inputDNS').removeAttribute('disabled');
                document.getElementById('dhcpSwitchLabel').innerText = 'Disabled';
            }
        }

        function sendCommand(cmd, on_success, on_error) {
            let xhttp = new XMLHttpRequest();
            if (on_success || on_error)
                xhttp.onreadystatechange = () => {
                    if (xhttp.readyState == 4){
                        if (xhttp.status == 200) {
                            if (on_success == true) location.reload();
                            else if (on_success instanceof Function) on_success(xhttp.response);
                        } else if (on_error) {
                            on_error(xhttp.response, xhttp.status);
                        }
                    }
                };
            xhttp.open("POST", "./api", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(cmd));
        }

        function showHide(element, show) {
            if (show)
                element.removeAttribute('hidden');
            else
                element.setAttribute('hidden', '');
        }

        function showNetplanError(error_text) {
            document.getElementById('netplanErrorText').innerText = error_text;
            new bootstrap.Modal('#netplanErrorModal').show();
        }

        function gen_wifi_list(wifi_json_str) {
            wifis = JSON.parse(wifi_json_str);
            let wifi_low = Math.round(parseInt(wifis[0].signal_total)/3);
            let wifi_high = Math.round(parseInt(wifis[0].signal_total)*2/3);
            document.getElementById('wifi-menu').innerHTML = "";
            for (let network of wifis){
                document.getElementById('wifi-menu').innerHTML += 
                `<li class="dropdown-item" onclick="sendCommand({'set_netplan_conf': '10-${network.essid ? network.essid : 'hidden' + network.mac.slice(-5)}.yaml', 'content': wifi_yaml('${network.essid}'), 'apply': false}, true, showNetplanError);">
                    <span><i class="bi bi-${(parseInt(network.signal_quality) >= wifi_high) ? 'wifi' : ((parseInt(network.signal_quality) >= wifi_low) ? 'wifi-2' : 'wifi-1')}"></i> ${ network.essid ? network.essid : '<i><small class="text-muted">hidden</small></i>' }</span>
                    <h6><small class="text-muted">${network.mac} &bull; ${ network.frequency.startsWith('5') ? '5' : '2.4' }GHz</small></h6>
                </li>`;
            }
        }

        function wifi_yaml(wifi_name) {
            return `network:
  wifis:
    {{def_wifi}}:
      dhcp4: true
      # addresses: [192.168.1.100/24]
      # routes:
      #   - to: 0.0.0.0/0
      #     via: 192.168.1.1
      # nameservers:
      #   addresses: [192.168.1.1, 1.1.1.1, 8.8.8.8]
      access-points:
        "${wifi_name}":
          password: "<super-secure>"`;
        }
        
        function check_is_updating() {let upd = setInterval(sendCommand, 3000, {'is_updating': ''}, (response)=>{if (!JSON.parse(response) && document.getElementById('apt_update').hasAttribute('disabled')){
            clearInterval(upd);
            let btn = document.getElementById('apt_update');
            btn.removeAttribute('disabled');
            btn.innerHTML='<i class="bi bi-arrow-clockwise"></i> Check updates';
            sendCommand({'update_count': ''}, (response) => {
                let upd = parseInt(response);
                document.getElementById('updateCount').innerHTML = `${(upd==0)?'No': upd} update${(upd==1)?'':'s'} available`;
            });
        }}, (err) => {
            clearInterval(upd);
            let btn = document.getElementById('apt_update');
            btn.removeAttribute('disabled');
            btn.innerHTML='<i class="bi bi-arrow-clockwise"></i> Check updates';
            document.getElementById('updateCount').innerHTML = ':-( Something went wrong...';
        });}
        
        function check_is_upgrading() {let upg = setInterval(sendCommand, 3000, {'is_upgrading': ''}, (response)=>{if (!JSON.parse(response) && document.getElementById('apt_upgrade').hasAttribute('disabled')){
            clearInterval(upg);
            let btn = document.getElementById('apt_upgrade');
            btn.removeAttribute('disabled');
            btn.innerHTML='<i class="bi bi-arrow-bar-up"></i> Do updates';
            sendCommand({'update_count': ''}, (response) => {
                let upd = parseInt(response);
                document.getElementById('updateCount').innerHTML = `${(upd==0)?'No': upd} update${(upd==1)?'':'s'} available`;
            });
        }}, (err) => {
            clearInterval(upg);
            let btn = document.getElementById('apt_upgrade');
            btn.removeAttribute('disabled');
            btn.innerHTML='<i class="bi bi-arrow-bar-up"></i> Do updates';
            document.getElementById('updateCount').innerHTML = ':-( Something went wrong...';
        });}

        {% if is_updating %}check_is_updating();{% endif %}
        {% if is_upgrading %}check_is_upgrading();{% endif %}

        document.getElementById('reboot_btn').onclick = () => {sendCommand({'reboot': ''});}
        document.getElementById('shutdown_btn').onclick = () => {sendCommand({'shutdown': ''});}
        document.getElementById('add_file_btn').onclick = function () {sendCommand({'new_netplan_conf': document.getElementById('modal_input_filename').value + '.yaml'}, true);}
        document.getElementById('default_duration').onchange = () => {showHide(document.getElementById('set_def_duration').parentElement, document.getElementById('default_duration').value != parseInt(document.getElementById('default_duration').getAttribute('value')));};
        document.getElementById('inputHostname').oninput = () => {showHide(document.getElementById('set_hostname').parentElement, document.getElementById('inputHostname').value != document.getElementById('inputHostname').getAttribute('value'));};
        document.getElementById('apt_update').onclick = () => {
            sendCommand({'update': ''});
            this.setAttribute('disabled', '');
            this.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Checking...';
            check_is_updating();
        };
        document.getElementById('apt_upgrade').onclick = () => {
            sendCommand({'upgrade': ''});
            this.setAttribute('disabled', '');
            this.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Updating...';
            check_is_upgrading();
        };
        document.getElementById('set_def_duration').onclick = () => {sendCommand({'set_def_duration': document.getElementById('default_duration').value}, true);};
        document.getElementById('inputNewPassword').oninput = document.getElementById('inputNewPassword2').oninput = () => {
            showHide(document.getElementById('set_passwd').parentElement,
                document.getElementById('inputNewPassword').value &&
                document.getElementById('inputNewPassword').value == document.getElementById('inputNewPassword2').value
            );
        };
        document.getElementById('set_passwd').onclick = () => {sendCommand({'set_passwd': document.getElementById('inputNewPassword').value}, true);};
        document.getElementById('add_schedule').onclick = () => {
            sendCommand({
                'schedule': document.getElementById('action_selector').value,
                'm': document.getElementById('minute_selector').value,
                'h': document.getElementById('hour_selector').value,
                'dom': document.getElementById('monthday_selector').value,
                'mon': document.getElementById('month_selector').value,
                'dow': document.getElementById('weekday_selector').value
            }, true);
        };
        document.getElementById('audio_out').onchange = () => {sendCommand({'audio_out': this.value});};
        document.getElementById('set_hostname').onclick = () => {sendCommand({'set_hostname': document.getElementById('inputHostname').value}, true);};
        {% for file in netplan_config %}
        document.getElementById('set_netplan_conf-{{file}}').onclick = () => {sendCommand({'set_netplan_conf': '{{file}}.yaml', 'content': editor{{loop.index}}.getValue()}, true, showNetplanError);};
        document.getElementById('del_netplan_conf-{{file}}').onclick = () => {document.getElementById('file_to_delete').innerText = '{{file}}';};
        {%endfor%}
        document.getElementById('delete_confirm_btn').onclick = function () {sendCommand({'del_netplan_conf': document.getElementById('file_to_delete').innerText + '.yaml'}, true, showNetplanError);};
        var wifi_upd_timer = Number();
        document.getElementById('wifiDropBtn').addEventListener('show.bs.dropdown', event => {wifi_upd_timer=setInterval(sendCommand, 5000, {'get_wifis':''}, gen_wifi_list, (err) => clearInterval(wifi_upd_timer));});
        document.getElementById('wifiDropBtn').addEventListener('hide.bs.dropdown', event => {clearInterval(wifi_upd_timer);});
    </script>
</body>

</html>